@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 90 8% 58%;
    --foreground: 100 5% 95%;

    --card: 0 0% 27%;
    --card-foreground: 0 0% 96%;

    --popover: 0 0% 85%;
    --popover-foreground: 100 5% 12%;

    --primary: 141 38% 58%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 46%;

    --muted: 90 6% 52%;
    --muted-foreground: 0 0% 100% / 0.49;

    --accent: 0 0% 17%;
    --accent-foreground: 0 0% 96%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 100% / 0.15;
    --input: 0 0% 62%;
    --ring: 141 38% 58%;

    --radius: 0.75rem;

    --header: 0 0% 85%;
    --header-foreground: 100 5% 12%;

    --tag-active: 0 0% 17%;
    --tag-active-foreground: 0 0% 96%;
    --tag-inactive: 0 0% 96%;
    --tag-inactive-foreground: 0 0% 46%;

    --gradient-bg: linear-gradient(180deg, #9BA393 12.98%, #899183 48.08%, #868D7F 83.65%, #3A3D37 100%);

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans text-foreground;
    font-family: 'Inter', sans-serif;
    background: var(--gradient-bg);
    min-height: 100vh;
  }
}
